<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>ML5 - Formularios</title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo de marcado liebre">
        <div class="buscador">
            <input type="text" placeholder="Buscar productos, marcas">
        </div>
        <p class="compra_en_cuotas">Compra en cuotas y sin tarjeta de credito</p>
        <nav class="navBar">
            <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="login">
            <ul>
                <li><a href="/register" >Crea tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login" >Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#" >Mis compras</a><i class="fa-solid fa-shop"></i></li>
            </ul>
        </nav>
        <img src="/images/img-home-banner.jpg" width="500" alt="imagen de fondo">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>

    <!-- Main-->
<main class="main">
 
    <!-- Formulario-->

    <form>
        <h2>Iniciar Sesión</h2>
    
        <label for="username">Nombre de Usuario:</label>
        <input type="text" name="username" required>
    
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required>
    
        <button type="submit">Enviar</button>
    </form>
</main> 
   <!-- Footer-->
<footer class="footer">
    <section id="medios_pago">
        <h3  >
            
            Paga con tarjeta o en efectivo
            
        </h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en  puntos de pago. ¡Y siempre es seguro!</p>
        
    </section>

    <section id="envios">
        <h3 >
          
            Envios gratis desde los 2.500
            
        </h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        
    </section>

    <section id="seguridad">
        <h3 >
            
            Seguridad, de principio a fin
            
        </h3>    
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
    </section>

    <section id="derechos-reservados">
        <h3 >
            
            Copyright © 1999-2020 MercadoLiebre S.R.L.
            
        </h3>
</section>

</footer>
</body>