.footer section i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}


.footer {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.footer section h3 {
    display: flex;
    justify-content: center;
}

.footer section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


.footer section p {
    text-align: center
}