.header {
    background-color: #EAC926;
     margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.nav-header {
    margin-top: 20px;
}

.nav-header li a {
    margin-right: 5px;
}

.burger-menu {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 25px;
    box-sizing: border-box;

}

.burger-menu i {
    background-color: #1259c3;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;

}

.compra_en_cuotas {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;

}

.buscador {
    margin: 10px;

}

.buscador input {
    width: 170px;
}

.logo {
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.article-container{
    flex: 1 1 30%;
}




@media (min-width: 768px)  {
    .tablet-view-search{
        display: flex;
        justify-content: space-between;
    }
    .tablet-view-nav{
        display: flex;
      flex-direction: row;
    
    }
    .nav-header ul{
        display: flex;
        flex-direction: row;
    }

    .nav-header{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
       
    }
    .burger-menu{
        display: none;
    }
}

@media (min-width: 1024px) {
    .article {
        flex: 1 1 calc(25% - 16px); 
    }
    .tablet-view-search{
        display: flex;
        justify-content: space-between;
    }
    .tablet-view-nav{
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .nav-header ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 400px;
    }
    .burger-menu{
        display: none;
    }
}