@import 'normalize.css';

body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 12px
}



/** Header**/

.header{
    background-color: #EAC926;
}

.logo{
  width: 200px;
  margin-left: 40px;
}
.buscador{
    margin-left: 30px;
}

.compra_en_cuotas{
    text-align: center;
}



/** Contenido Principal**/


.main{
    text-align: center;
}
.titulares{
    font-size: 24px
} 

.precios{
    font-size: 18px
}


.descuentos_y_descripciones{
    font-size: 16px
}

/**Footer**/

.footer{
 text-align:center;
}